body{
    background-color: whitesmoke;
    text-align: center;
}
h1:hover{
    color: dimgray;
    font-size: 40px;
    background-color: lavender;
    
}
#special{
    color: #800080;
    font-family: serif;
    font-size: 20px;
    text-align: justify;
    font-weight: bolder;
    border-top-width: 1.5px;
	border-left-color:purple;
    
	border-bottom-style:solid;
    
}
#special1{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
    font-style: italic;
    
}
#special2{
    color: green
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}
#lingid{
    text-align: left;
    color: darkgrey
}

#lingid: visited{
color:red;
}
    
}
.help{
    cursor: help;
}

/*credits to humans.txt. @-webkit-keyframes @keyframes  */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
